*
!README.md
!.gitignore
!.zshrc
!.zprofile
!.xinitrc
!/.config/
!/.config/awesome/
!/.config/kitty/
!/.config/mpd/
!/.config/ncmpcpp/
!/.config/nvim/
!/.config/picom/
!/.config/wpg/
!/.config/awesome/rc.lua
!/.config/kitty/kitty.conf
!/.config/mpd/mpd.conf
!/.config/ncmpcpp/config
!/.config/nvim/init.vim
!/.config/picom/picom.conf
!/.config/wpg/wpg.conf
